@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* Preflight is excluded to avoid conflicts with CDS */
/* @see https://tailwindcss.com/docs/preflight#disabling-preflight */
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@import "../../vendor/livewire/flux/dist/flux.css";

@custom-variant dark (&:where(.dark, .dark *));

/* Classes excluded to avoid conflicts with CDS */
@source not inline("flex-{1,2,3,4,5,6,7,8,9,10,11,12}");
@source not inline("container");

@source "../views";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";

@theme {
    --font-sans: "freight-sans-pro", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Colors */
    --button-primary: #006699;
    --button-primary-hover: #0077b3;
    --button-primary-focus: #0077b3;
    --button-secondary: #dbdbdb;
    --button-secondary-hover: #d1d1d1;
    --button-secondary-focus: #d1d1d1;
    --field-desc: #707070;
    --field-desc-dark: #a1a1a1;
    --field-desc-error: #db2800;
    --field-desc-error-dark: #e95858;
    --field-border: #808080;
    --field-bg-error: #ffb3a133;
    --field-border-error: #ff2f00cc;
    --callout-bg-error: #ffb3a142;
    --callout-border-error: #d9988966;
}

/* Form fields */
[data-flux-field] {
    @apply max-w-[600px];

    form.no-constrain & {
        @apply max-w-full!;
    }

    [data-flux-label] {
        @apply text-base font-medium mb-1;
    }

    [data-flux-input] input {
        @apply h-8 px-2 py-1.5 mb-5;
        @apply rounded-none border-[var(--field-border)] dark:border-white/[0.4];
        @apply inset-shadow-[0_1px_0_0_rgba(0,0,0,0.1)];
        @apply text-base text-black dark:text-white;
        &[aria-invalid="true"] {
            @apply bg-[var(--field-bg-error)] border-[var(--field-border-error)];
        }
    }

    [data-flux-error] {
        @apply -mt-4! mb-5;
        @apply text-[var(--field-desc-error)] dark:text-[var(--field-desc-error-dark)];
        [data-flux-icon] {
            @apply align-text-bottom translate-y-0.5;
        }
    }

    [data-flux-description] {
        @apply mb-5;
        @apply text-base text-[var(--field-desc)] dark:text-[var(--field-desc-dark)];
    }
}

/* Buttons */
[data-flux-button] {
    @apply rounded-none shadow-none;
    @apply text-base font-normal;
    @apply px-5 py-1;
    @apply mr-1 mb-2;

    &[type="submit"] {
        @apply text-white;
        @apply bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] focus:bg-[var(--button-primary-focus)];
    }

    &[type="reset"] {
        @apply text-black;
        @apply bg-[var(--button-secondary)] hover:bg-[var(--button-secondary-hover)] focus:bg-[var(--button-secondary-focus)];
    }
}

/* Error Message Callout */
[data-flux-callout] {
    @apply rounded-none;
    @apply p-3;
    @apply mb-6;
    @apply bg-[var(--callout-bg-error)] border-[var(--callout-border-error)];
    [data-flux-icon] {
        @apply align-text-bottom translate-y-1.25;
        @apply text-[var(--field-desc-error)] dark:text-[var(--field-desc-error-dark)];
    }
}

/* Checkboxes */
.checkbox-single,
.checkbox-group {
    [data-flux-checkbox-indicator] {
        @apply mt-[1px];
        @apply w-[18px] h-[18px];
        @apply border border-gray-600 rounded-xs;
        @apply bg-gray-300/20 bg-no-repeat bg-center;
    }
    ui-checkbox[aria-checked="true"] [data-flux-checkbox-indicator] {
        @apply bg-[var(--button-primary)];
    }
}
.checkbox-single {
    @apply ml-5 mb-5;
    @apply gap-1.5;
}
.checkbox-group {
    > [data-flux-label]:first-child {
        @apply font-semibold;
        @apply mb-1;
    }
    [data-flux-checkbox-group] {
        @apply ml-5 mb-5;

        > [data-flux-field] {
            @apply gap-1.5;
            @apply mb-0;
        }
    }
}
