@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* Preflight is excluded to avoid conflicts with CDS */
/* @see https://tailwindcss.com/docs/preflight#disabling-preflight */
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@import "../../vendor/livewire/flux/dist/flux.css";

@custom-variant dark (&:where(.dark, .dark *));

/* Classes excluded to avoid conflicts with CDS */
@source not inline("flex-{1,2,3,4,5,6,7,8,9,10,11,12}");
@source not inline("container");

@source "../views";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";

@theme {
    --font-sans: "freight-sans-pro", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Colors */
    --color-cds-blue: #006699;
    --color-cds-light-gray: #dbdbdb;
    --color-cds-dark-silver: #707070;
    --color-cds-warning-red: #db2800;
    --color-cds-medium-gray: #808080;
}

/* Form fields */
[data-flux-field] {
    @apply max-w-[600px];

    form.no-constrain & {
        @apply max-w-full!;
    }

    [data-flux-label] {
        @apply text-base font-medium mb-1;
    }

    [data-flux-input] input {
        @apply h-8 px-2 py-1.5 mb-5;
        @apply rounded-none border-[var(--color-cds-medium-gray)] dark:border-white/[0.4];
        @apply inset-shadow-[0_1px_0_0_rgba(0,0,0,0.1)];
        @apply text-base text-black dark:text-white;
        &[aria-invalid="true"] {
            @apply bg-[#ffb3a133] border-[#ff2f00cc];
        }
    }

    [data-flux-error] {
        @apply -mt-4! mb-5;
        @apply text-[var(--color-cds-warning-red)] dark:text-[#e95858];
        [data-flux-icon] {
            @apply align-text-bottom translate-y-0.5;
        }
    }

    [data-flux-description] {
        @apply mb-5;
        @apply text-base text-[var(--color-cds-dark-silver)] dark:text-neutral-400;
    }
}

/* Buttons */
[data-flux-button] {
    @apply rounded-none shadow-none;
    @apply text-base font-normal;
    @apply px-5 py-1;
    @apply mr-1 mb-2;

    &[type="submit"] {
        @apply text-white;
        @apply bg-[var(--color-cds-blue)] hover:bg-[#0077b3] focus:bg-[#0077b3];
    }

    &[type="reset"] {
        @apply text-black;
        @apply bg-[var(--color-cds-light-gray)] hover:bg-[#d1d1d1] focus:bg-[#d1d1d1];
    }
}

/* Error Message Callout */
[data-flux-callout] {
    @apply rounded-none;
    @apply p-3;
    @apply mb-6;
    @apply bg-[#ffb3a133] border-[#d9988966];
    [data-flux-icon] {
        @apply align-text-bottom translate-y-1.25;
        @apply text-[var(--color-cds-warning-red)] dark:text-[#e95858];
    }
}

/* Checkboxes */
.checkbox-single,
.checkbox-group {
    [data-flux-checkbox-indicator] {
        @apply mt-[1px];
        @apply w-[18px] h-[18px];
        @apply border border-gray-600 dark:border-white/50 rounded-xs;
        @apply bg-gray-300/20 bg-no-repeat bg-center;
    }
    ui-checkbox[aria-checked="true"] [data-flux-checkbox-indicator] {
        @apply bg-[var(--color-cds-blue)];
        svg {
            @apply dark:text-white;
        }
        @apply text-white;
    }
    [data-flux-label] {
        @apply w-max;
    }
}
.checkbox-single {
    @apply ml-5 mb-5;
    @apply gap-1.5;
}
.checkbox-group {
    > [data-flux-label]:first-child {
        @apply font-semibold;
        @apply mb-1;
    }
    [data-flux-checkbox-group] {
        @apply ml-5 mb-5;

        > [data-flux-field] {
            @apply gap-1.5;
            @apply mb-0;
        }
    }
}

/* Select */
.select-dropdown {
    &[data-flux-field] {
        @apply mb-5;
    }
    select[data-flux-select-native] {
        @apply h-8;
        @apply py-0;
        @apply rounded-none border-[var(--color-cds-medium-gray)] shadow-none;
        @apply w-max;
        @apply text-base text-black dark:text-white;
    }
}
